$primarycolor :aliceblue;
$secondarycolor: blueviolet;
$tertiarycolor: #222;
$fontfamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

body {
  background-color: $primarycolor;
}

@import "header";
@import "notiprincipal";
@import "paginas";
@import "contacto";
@import "footer";
@import "medias";




